[project]
name = "turnip_text"
# TODO how to make these develop-only?
dependencies = [
    "mypy ~= 1.1.1",
    "black",
    "maturin"
]
requires-python = ">=3.8"

[tool.maturin]
python-source = "python"

[tool.mypy]

[tool.black]

[build-system]
requires = ["maturin>=0.14,<0.15"]
build-backend = "maturin"
